header {
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black
}

li {
    text-align: center;
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: lightgrey;
        }
